@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arvo");

$indie-flower-cursive: 'Indie Flower', 'cursive';
$lobster-cursive: 'Lobster', 'cursive';
$arvo-cursive: 'Arvo', 'cursive';
